pkgbase = dwarfs-bin
	pkgdesc = A fast high compression read-only file system (pre-compiled binaries)
	pkgver = 0.15.7
	pkgrel = 1
	url = https://github.com/mhx/dwarfs
	arch = x86_64
	arch = aarch64
	arch = i386
	arch = loong64
	arch = powerpc64
	arch = powerpc64le
	arch = riscv64
	license = GPL3 AND MIT
	depends = fuse3
	provides = dwarfs
	conflicts = dwarfs
	source_x86_64 = dwarfs-0.15.7-Linux-x86_64.tar.xz::https://github.com/mhx/dwarfs/releases/download/v0.15.7/dwarfs-0.15.7-Linux-x86_64.tar.xz
	sha256sums_x86_64 = 4dc3b756af88ede837eb3f27fbb5f2f0dbb83d7c9933a1d3be9216d2069d2f5f
	source_aarch64 = dwarfs-0.15.7-Linux-aarch64.tar.xz::https://github.com/mhx/dwarfs/releases/download/v0.15.7/dwarfs-0.15.7-Linux-aarch64.tar.xz
	sha256sums_aarch64 = 5957c2a380e1c57bc3b18475612be36120c3faf786373fcdf7c15245654869db
	source_i386 = dwarfs-0.15.7-Linux-i386.tar.xz::https://github.com/mhx/dwarfs/releases/download/v0.15.7/dwarfs-0.15.7-Linux-i386.tar.xz
	sha256sums_i386 = 04bf6e3a14414c95ad1e4f2c3c8b42e6ec3a4d5a74fe178874cb439f760c6f3c
	source_loong64 = dwarfs-0.15.7-Linux-loong64.tar.xz::https://github.com/mhx/dwarfs/releases/download/v0.15.7/dwarfs-0.15.7-Linux-loongarch64.tar.xz
	sha256sums_loong64 = e3c497d164c9df0f705e741607ce03cc372705669ddfd4ad6dd79f056708c922
	source_powerpc64 = dwarfs-0.15.7-Linux-powerpc64.tar.xz::https://github.com/mhx/dwarfs/releases/download/v0.15.7/dwarfs-0.15.7-Linux-ppc64.tar.xz
	sha256sums_powerpc64 = 2aa74a376c74702c45b4ccc3703ce5b5283dfd05084a16b965d6d4771ef50a1a
	source_powerpc64le = dwarfs-0.15.7-Linux-powerpc64le.tar.xz::https://github.com/mhx/dwarfs/releases/download/v0.15.7/dwarfs-0.15.7-Linux-ppc64le.tar.xz
	sha256sums_powerpc64le = c19de3020a2ac58f0f70d65e349bb356b074fc9de7beea4519cfdd311f0fedf4
	source_riscv64 = dwarfs-0.15.7-Linux-riscv64.tar.xz::https://github.com/mhx/dwarfs/releases/download/v0.15.7/dwarfs-0.15.7-Linux-riscv64.tar.xz
	sha256sums_riscv64 = 481c182e9e175ea3278b2a11b78c387dac5ff0403bd38197f9b8cd00180b8999

pkgname = dwarfs-bin
