pkgbase = omen-fan-git
	pkgdesc = Utility and daemon to control fans in HP Omen laptops (includes omen-fan-mode for profile switching)
	pkgver = r1.0000000
	pkgrel = 1
	url = https://github.com/alou-S/omen-fan
	arch = any
	license = GPL3
	makedepends = git
	depends = python
	depends = python-click
	depends = python-tomlkit
	depends = python-click-aliases
	backup = etc/omen-fan/config.toml
	source = git+https://github.com/alou-S/omen-fan.git
	source = omen-fan-mode
	source = silent.toml
	source = performance.toml
	sha256sums = SKIP
	sha256sums = b41bf881e9aee25ab8c3f616653d38663db06bff31748085463a5ec44ad9d5fb
	sha256sums = b04c709c232a9f1f2987ba9ce98a977c3fbc8c7df280323e37bff32dd94af5ed
	sha256sums = e278c6f2314cd0213bd380bb0d3d5cd36e65594a5ff4324d5747b12fb9a705fc

pkgname = omen-fan-git
