pkgbase = hydra-launcher-selfhosted-bin
	pkgdesc = Hydra Launcher (Selfhosted Fork) - An open-source gaming platform
	pkgver = 4.0.6_rev1
	pkgrel = 1
	url = https://github.com/AksharLeo/hydra
	arch = x86_64
	license = MIT
	depends = alsa-lib
	depends = at-spi2-core
	depends = bash
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libcups
	depends = libdrm
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = libxrender
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = zlib
	provides = hydra-launcher-selfhosted
	options = !strip
	source = https://github.com/AksharLeo/hydra/releases/download/v4.0.6-rev1/hydralauncher_4.0.6-rev1_amd64.deb
	source = hydra-launcher-selfhosted-bin-LICENSE::https://github.com/AksharLeo/hydra/raw/refs/tags/v4.0.6-rev1/LICENSE
	sha256sums = 151cae4b27f5ef6a52700ed58b6e4dc2a81094483d563063b0ff0fca6ad6af2f
	sha256sums = 32619612c2e0223e86c4908747ec14bef64c3c423fee80910c1aa944769b66f9

pkgname = hydra-launcher-selfhosted-bin
