pkgbase = hydralauncher-gameonedev-bin
	pkgdesc = Hydra Launcher (GameOneDev Fork) - An open-source gaming platform
	pkgver = 4.1.1
	pkgrel = 3
	url = https://github.com/GameOneDev/hydra
	arch = x86_64
	license = MIT
	depends = alsa-lib
	depends = at-spi2-core
	depends = bash
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libcups
	depends = libdrm
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = libxrender
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = zlib
	provides = hydralauncher
	provides = hydra-launcher
	conflicts = hydralauncher
	conflicts = hydralauncher-bin
	conflicts = hydralauncher-git
	conflicts = hydra-launcher
	conflicts = hydra-launcher-bin
	replaces = hydralauncher
	replaces = hydralauncher-bin
	replaces = hydralauncher-git
	replaces = hydra-launcher
	replaces = hydra-launcher-bin
	options = !strip
	source = https://github.com/GameOneDev/hydra/releases/download/v4.1.1/hydralauncher-4.1.1-linux-amd64.deb
	source = hydralauncher-gameonedev-bin-LICENSE::https://github.com/GameOneDev/hydra/raw/refs/tags/v4.1.1/LICENSE
	sha256sums = a9a2e429f88c59026ae84145587c6845ff585133e0712b180314e4afebf2fb4e
	sha256sums = 32619612c2e0223e86c4908747ec14bef64c3c423fee80910c1aa944769b66f9

pkgname = hydralauncher-gameonedev-bin
