pkgbase = hydra-selfhosted-client-bin
	pkgdesc = Hydra Self-Hosted - An open-source gaming platform (Self-hosted backend support)
	pkgver = 4.1.1_beta.1
	pkgrel = 1
	url = https://github.com/AksharLeo/hydra-client
	arch = x86_64
	license = MIT
	depends = alsa-lib
	depends = at-spi2-core
	depends = bash
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libcups
	depends = libdrm
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = libxrender
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = zlib
	provides = hydra-selfhosted-client
	options = !strip
	source = https://github.com/AksharLeo/hydra-client/releases/download/v4.1.1-beta.1/hydra-selfhosted-client_4.1.1-beta.1_amd64.deb
	source = hydra-selfhosted-client-bin-LICENSE::https://github.com/AksharLeo/hydra-client/raw/refs/tags/v4.1.1-beta.1/LICENSE
	sha256sums = 610585bf6dc1913bdc98a5ad02976c4089fa0e3df50e9e79a6c4a2f5c193ea54
	sha256sums = 32619612c2e0223e86c4908747ec14bef64c3c423fee80910c1aa944769b66f9

pkgname = hydra-selfhosted-client-bin
