pkgbase = antigravity
	pkgdesc = Google Antigravity 2.0 multi-agent orchestration platform
	pkgver = 2.21.1
	pkgrel = 1
	url = https://antigravity.google/product/antigravity-2
	arch = aarch64
	arch = x86_64
	license = LicenseRef-Google-Antigravity
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libcups
	depends = libgcc
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	options = !strip
	options = !debug
	source = antigravity.desktop
	source = antigravity.png
	b2sums = ec2c74f0e6f2458f2ef1c67b1321c058a3f7c422e364d8871a0a933220ec52ee5736e449cb797b6f135cff1f4adfe6f81e0fdbc76d3ec67c245aea002b8577d8
	b2sums = 772849ebf4574dccc7d2fc30751baed10b4a5d4091c524f3d69938192387693501c0c54ea5b43fa2ed382f70ecdff369a4c65ce3d0f778c68712fa0c2b5e84b8
	source_aarch64 = Antigravity-2.21.1-aarch64.tar.gz::https://storage.googleapis.com/antigravity-public/antigravity-hub/2.21.1-5614635819335680/linux-arm/Antigravity.tar.gz
	b2sums_aarch64 = 668c39ee4aa18423640a2bb424fc27ebb4d1dccb462072fae83c981d25c95ac8af14c3cfaa8f5574ddd5a8f06f165a39ccfe743c0563d00682f7ea3124c138b2
	source_x86_64 = Antigravity-2.21.1-x86_64.tar.gz::https://storage.googleapis.com/antigravity-public/antigravity-hub/2.21.1-5614635819335680/linux-x64/Antigravity.tar.gz
	b2sums_x86_64 = dd19e82862f64e5f4781c462b810c971d012894b2500435da42244ef87f6263eef77adfaf78aaecefbd810406182540c6fd084395f215afb867e989e6dd9f157

pkgname = antigravity
